streamlit==1.25.0
google-api-python-client==2.100.0
google-auth==2.23.4
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
streamlit-shadcn-ui==0.1.0  # Replace with the latest version if available
matplotlib==3.8.0
boto3==1.28.77
botocore==1.31.77
requests==2.31.0
